.App {
  background-color: rgba(182, 169, 169, 0.788);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.NavLinks {
  display: flex;
  justify-content: center;
  padding: 10px
}

.p-links {
  margin: 2rem;
  font-size: 1.4rem;
}



/* Main */

.table-main {
  margin: auto;
  width: 80rem;
  text-align: center;
  border-collapse: collapse;
}

th, td {
  /* border: 1px solid; */
  /* border-bottom: 1px solid; */
}

tr {
  transition: all .3s ease-in;
}

tr:nth-child(even) {
  background-color: rgb(192, 118, 235);
}

tr:hover {
  background-color: #fff;
}

.btn-edit-details {
  width: 20em;
  display: flex;
  justify-content: space-around;
  padding: 1.2rem;
  border: none; 
  /* border-bottom: 1px solid; */
}

.td-main {
  width: 60rem;
}

.div-searchMovie {
  text-align: center;
}

.input-searchMovie {
  text-align: center;
  font-size: 1.6rem;
  width: 24rem;
  margin-bottom: 3rem;
}